main{
    background-color: #ffff;
}

.content-section{
    background: lavender;
    padding: 40px;
    padding: 1.5rem 1.5rem;
    border-radius: 10px;
}

body{
    background-color: #1abc9c
    /*background-position: center; /* Center the image */
   /* background-repeat: no-repeat; /* Do not repeat the image */
    /*background-size: cover; /* Resize the background image to cover the entire container */
  }

